<div class="inbox">
  <h1>Inbox</h1>

  <table>
    <tr>
      <th>Date</th>
      <th>Subject</th>
      <th>Sender</th>
      <th>Read?</th>
    </tr>
    <% @conversations.each do |conversation| %>
    <tr>
      <td>
        <%= distance_of_time_in_words(Time.now, conversation.receipts.last.created_at) %> ago
      </td>
      <td>
        <%= link_to(conversation.subject, conversation_path(conversation)) %>
      </td>
      <td>
        <%= link_to(conversation.receipts.first.message.sender.name, profile_path(conversation.receipts.first.message.sender)) %>
      </td>
      <td>
        <%= conversation.receipts_for(current_user).first.is_read ? "Read" : "Unread" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>