<div class="welcome-text">
  <h1>friendlier<h1>
  <p>finding your new friend through your old friend</p>
</div>

<div class="welcome-image">
  <%= image_tag("welcome.png")%>
</div>

<div class="index-recent-activity">
  <% @user.each do |user| %>
    <%= user.name %>
  <% end %>
</div>