.welcome-image img {
  /*position: relative;*/
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(77%);
  filter: grayscale(77%);
  position: relative;
}

.index-recent-activity {
  padding: 3em 0 0 0 ;
  width: 1200px;
  margin: 0 auto;
}

.index-recent-activity .border {
  border-bottom: 1px solid gray;
}

h2 a {
  font-size: 30px;
  font-family: 'Lora', serif;
}

.index-message {
  font-size: 26px;
}

.index-recent-activity div:hover {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  color: black;
  border-bottom: 4px solid #E21C2B;
  -webkit-opacity: 0.70;
  -moz-opacity: 0.70;
  opacity: 0.70;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.user-div {
  padding: 0 auto;
  padding-bottom: 10px;
  width: 214px;
  display: inline-block;
}
/*
.user-div:hover .user-blurb {
  display: inline-block;
}

.user-blurb {
  display: none;
  display: inline;
}*/

.user-blurb span {
  font-family: 'Lora', serif;
}

.user-blurb p {
  font-size: 20px;
}