.top-bar {
  background-color: #E21C2B;
  padding: 0 0 4em 13em;
  height: 120px;
  color: white;
}

.welcome-text {
  float: left;
  color: white;
}

.welcome-text h1 {
  font-size: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
}

.welcome-text span {
  font-size: 60px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
}

nav {
  float: right;
  text-align: right;
  color: white;
  padding: 2em 5em;
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: inline;
}

nav li {
  display: inline;
  margin-left: 1.5em;
  padding-bottom: 1em;
}

.top-bar a:visited {
  color: white;
  text-decoration: none;
}

.top-bar a:link {
  color: white;
  text-decoration: none;
}

nav li:hover {
  border-bottom: 3px solid white;
}
